
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 25px;
    font-weight: 400;
    -webkit-overflow-scrolling: touch
}

.logo{
    height:81px;
    float:left;
}
.name a{
    text-decoration:none;
    color:black;
}

a.add {
    text-decoration:none;

  color: #fff;
  background: rgb(216, 216, 216);
  font-size:14px;
  font-weight:bold;
  padding:8px;
    border: 0 none;
  border-radius: 8px;
}

a.add:hover{
    background:black;
}

.main-header {
    background: #ffffff;
    height: 105px;
    min-height: 69px;
    min-width: 1000px;
    border-bottom:4px solid rgb(216, 216, 216);
    padding:12px 0px 0px 20px;
}

@media (max-width: 400px) {
    .main-header {
        min-width: 0;
    }
    html,
    body {
        font-size:17px;
    }
    .name{
        margin-bottom:3px;
    }
}

#airtable-iframe-wrap {
    height: 100%;
    height: calc(100% - 69px);
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

html.oldie #airtable-iframe-wrap {
    height: 100%;
    height: calc(100% - 32px)
}

@media (max-width: 400px) {
    #airtable-iframe-wrap {
        height: calc(100% - 62px)
    }
}

#airtable {
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: static
}